<link href="https://fonts.googleapis.com/css?family=Righteous|Varela+Round&display=swap" rel="stylesheet">


<div class="banner" style="background-image: url('https://www.rustica.fr/images/ciel-etoile-l750-h512.jpg');">
  <div class="banner-content">
    <h1>Rental your ship</h1>
    <div class="col-md-12 text-center" >
      <a class="btn btn-gradient" href="#">Insciption</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @ships.each do |ship| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2>model</h2>
              <p><%= ship['model'] %></p>
              <p>description</p>
              <p><%= ship['description'] %></p>
            </div>
            <h2 class="card-trip-pricing">
              <p><%= ship['price_per_day'] %>crédit</p>
            </h2>
            <img src="" class="card-trip-user avatar-bordered" />
          </div>
        </div>

        <%= link_to "", ship_path(ship), class: 'card-link' %>
      </div>
    <% end %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    I <i class="fas fa-heart"></i> Le Wagon
  </div>
</div>
