<link href="https://fonts.googleapis.com/css?family=Righteous|Varela+Round&display=swap" rel="stylesheet">


<div class="banner" style="background-image: url('https://www.rustica.fr/images/ciel-etoile-l750-h512.jpg');">
  <div class="banner-content">
    <h1>Rental your ship</h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @ships.each do |ship| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'starwars.jpg' %>');">
          <div class="card-description">
            <h2><%= ship.model %></h2>
          </div>
          <%= link_to "", ship_path(ship), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
