
#ship-show-banner  {
   background-size: cover;
  background-position: center;
  padding: 150px 0;
}

#ship-show-banner h1 {
  margin: 10;
  color: #4ee;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  margin-left: 10px;
}

#ship-show-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

#ship-show-banner .btn {
  margin-top: 20px;
}
