
.banner-show-ship {
  background-size: cover;
  background-position: center;
  padding: 90px;
  height: 300px;
}

.banner-show-ship-name h1 {
  color: #4ee;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  position: relative;
  top: 120px;
  left: 500px;
}
