.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 7px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: #5fb3eb;
}

.btn-ghost {
  color: #F5182D;
  border: 1px solid #F5182D;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #4ee;
  border: 1px solid #4ee;
}

