.form-grey{
  color: #070545;
}

.synopsis{
  color: #E4EBFC;
}

.card-ship-category p {
  font-size: 20px;
}

.card-ship-form-grey h3{
  font-style: italic;
  font-size: 10px;
  opacity: 0.5;
}

.text-homepage-h2{
  margin-top: 20px;
  padding-left: 20px;
}
