.form-grey{
  color: #070545;
}

.synopsis{
  color: #E4EBFC;
}

.card-ship-category p {
  font-size: 20px;
}

.card-ship-form-grey h3{
  font-style: italic;
  font-size: 10px;
  opacity: 0.5;
}

.text-homepage-h2{
  margin-top: 20px;
  padding-left: 20px;
}

.title-my-ships h1 {
  padding: 20px;
  text-align: left;
  font-size: 40px;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-size: 35px;
  font-weight: bold;
  font-family: 'Star Jedi Hollow', sans-serif;

}
